* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.auth-error-container {
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid rgb(59, 114, 185);
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tbody tr{
  cursor: pointer;
}

.container {
  /* display: flex; */
  /* position: relative; */
}

@media only screen and (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

.item-container {
  margin: 15px;
  border: 2px solid rgb(59, 114, 185);
  width: 70%;
  overflow-x: scroll;

}

.event-container {
  margin: 15px;
  border: 2px solid rgb(59, 114, 185);
  position: fixed;
  top: 145px;
  right: 5px;
  width: 26%;
}

.nav-header {
  background: rgb(59, 114, 185);
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 20px 15px;
  text-align: center;
}

.dash-top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

select {
  padding: 15px;
  width: 200px;
  border: 1px solid rgb(59, 114, 185);
  border-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
}

.selected {
  background: rgb(151, 180, 219);
}

.event-item {
  margin: 3px 3px 10px 3px;
  padding: 5px;
  border: 1px solid rgb(59, 114, 185);
  border-radius: 5px;
}

.event-title {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 3px;
  background: rgb(151, 180, 219);
  border-bottom: 1px solid rgb(59, 114, 185);
}

.event-header {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 3px;
  background: rgb(151, 180, 219);
  border-bottom: 1px solid rgb(59, 114, 185);
  text-align: center;
}

.event-empty {
  text-align: center;
  padding: 10px;
  
}

.event-info span {
  font-weight: bold;
  margin-right: 10px;
}